TwoOrMore-Node/node_modules/
TwoOrMore-Android/.gradle
TwoOrMore-Android/local.properties
TwoOrMore-Android/.idea/workspace.xml
TwoOrMore-Android/.idea/libraries
TwoOrMore-Android/.DS_Store
TwoOrMore-Android/build
TwoOrMore-Android/captures